cabinet.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<schema version="1.0"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:ca="http://www.univ-grenoble-alpes.fr/l3miage/medical/cabinet"
        targetNamespace="http://www.univ-grenoble-alpes.fr/l3miage/medical/cabinet"
        elementFormDefault="qualified"
>
    <!-- xlmns="http://www.univ-grenoble-alpes.fr/l3miage/medical"> -->
    
    <!--******************************** Type Cabinet *******************************-->
    
    <element name="cabinet" type="ca:Cabinet">
        <keyref name="idIntervenant" refer="ca:idInfirmier">
            <selector xpath="ca:patients/ca:patient/ca:visite/ca:intervenant"/>
            <field xpath="@id"/>
        </keyref>
        <keyref name="idNgap" refer="ca:idActe">
            <selector xpath="ca:patients/ca:patient/ca:visite"/>
            <field xpath="@acte"/>
        </keyref>
    </element>
    
    <!--*****************************************************************************-->
    
    <!--*****************************************************************************-->
    <!--************************** Declaration de type Cabinet **********************-->
    
    <complexType name="Cabinet">
        <sequence>
            <!-- definition de Adresse -->
            <element name="adresse" type="ca:Adresse"/>
            <!--***********************-->
            
            <!-- definition de Infirmiers -->
            <element name="infirmiers" type="ca:Infirmiers">
                <unique name="idInfirmier">
                    <selector xpath="ca:infirmier"/>
                    <field xpath="@id"/>
                </unique>
            </element>
            <!--***********************-->
            
            <!-- definition de Patient -->
            <element name="patients" type="ca:Patients">
                <unique name="idPatient">
                    <selector xpath="ca:patient/ca:visite"/>
                    <field xpath="@date"/>
                </unique>
            </element>
            
                
            <!--***********************-->
            
            <!-- definition de visite -->
            
            <!--***********************-->
            
            <!-- definition de acte -->
            <element name="acte" type="ca:Ngap"/>
            <!--***********************-->
        </sequence>
        <attribute name="nom" type="string"/>
    </complexType>
    
    <!--*****************************************************************************-->
    
    <!--*****************************************************************************-->
    <!--************************** Declaration de type Infirmiers **********************-->
    
    <complexType name="Infirmiers">
        <sequence>
            <element name="infirmier" type="ca:Infirmier" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    
    <!--*****************************************************************************-->
    
    <!--*****************************************************************************-->
    <!--************************** Declaration de type Infirmier **********************-->
    
    <complexType name="Infirmier">
        <sequence>
            <!--<element name="id" type="integer"/>-->
            <element name="nom" type="string"/>
            <element name="prenom" type="string"/>
            <element name="photo" type="string"/>
        </sequence>
        <attribute name="id" type="integer"/>
    </complexType>
    
    <!--*****************************************************************************-->
    
    <!--*****************************************************************************-->
    <!--************************** Declaration de type Patients **********************-->
    
    <complexType name="Patients">
        <sequence>
            <element name="patient" type="ca:Patient" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    
    <!--*****************************************************************************-->
    
    <!--*****************************************************************************-->
    <!--************************** Declaration de type Patient **********************-->
    
    <complexType name="Patient">
        <sequence>
            <element name="nom" type="string"/>
            <element name="prenom" type="string"/>
            <element name="sexe" type="ca:Sexe"/>
            <element name="numero" type="ca:Numero"/>
            <element name="naissance" type="date"/>
            <element name="adresse" type="ca:Adresse"/>
            <element name="visite" type="ca:Visite"/>
        </sequence>
    </complexType>
    
    <!--*****************************************************************************-->
    
    <!--*****************************************************************************-->
    <!--*********************** Declaration de type Denomination ********************-->
    
    <simpleType name="Denomination">
        <restriction base="string">
            <pattern value="[A-Z][a-z]*"/>
        </restriction>
    </simpleType>
    
    <!--*****************************************************************************-->
    
    <!--*****************************************************************************-->
    <!--*************************** Declaration de type Sexe ************************-->
    
    <simpleType name="Sexe">
        <restriction base="string">
            <enumeration value="F"/>
            <enumeration value="Femme"/>
            <enumeration value="M"/>
            <enumeration value="Homme"/>
        </restriction>
    </simpleType>
    
    <!--*****************************************************************************-->
    
    
    <!--*****************************************************************************-->
    <!--************************** Declaration de type Numero ***********************-->
    
    <simpleType name="Numero">
        <restriction base="string">
            <pattern value="[0-9]{13}"/>
        </restriction>
    </simpleType>
    
    <!--*****************************************************************************-->
    
    <!--*****************************************************************************-->
    <!--************************** Declaration de type Adresse ***********************-->
    
    <complexType name="Adresse" >
        <sequence>
            <element name="numero" type="int"/>
            <element name="rue" type="string"/>
            <element name="codePostal" type="ca:CodePostal"/>
            <element name="ville" type="string"/>
            <element name="etage" type="int" minOccurs="0"/>
        </sequence>
    </complexType>
    
    <!--*****************************************************************************-->
    
    <!--*****************************************************************************-->
    <!--************************** Declaration de type CodePostal ***********************-->
    
    <simpleType name="CodePostal">
        <restriction base="string">
            <pattern value="[0-9]{5}"/>
        </restriction>
    </simpleType>
    
    <simpleType name="Telephone">
        <restriction base="string">
            <pattern value="[0-9]{10}"/>
        </restriction>
    </simpleType>
    <!--*****************************************************************************-->
    
    <!--*****************************************************************************-->
    <!--************************** Declaration de type Visite ***********************-->
    <!--keyref name="idIntervenant" refer="ca:idInfirmier">
                    <selector xpath="ca:infirmier"/>
                    <field xpath="@id"/>
                </keyref-->
    
    <complexType name="Visite">
        <sequence>
            <element name="intervenant" type="ca:Intervenant"/>
        </sequence>
        <attribute name="date" type="date"/>
        <attribute name="acte" type="string"/>
    </complexType>
    
    <complexType name="Intervenant">
        <attribute name="id" type="integer"/>
    </complexType>
    
    <!--*****************************************************************************-->
    
    <!--*****************************************************************************-->
    <!--************************** Declaration de type Acte ***********************-->
    
    <!--<simpleType name="Acte">
        <restriction base="string">
            <enumeration value="101"/>
            <enumeration value="103"/>
            <enumeration value="104"/>
        </restriction>
    </simpleType>-->
    
    <!--*****************************************************************************-->
    
    <!--*****************************************************************************-->
    <!--************************** Declaration de type Intervenant ***********************-->
    
    <!--<simpleType name="Intervenant">
        <restriction base="integer">
            
        </restriction>
    </simpleType>-->
    
    <complexType name="Ngap">
        <sequence>
            <element name="types" type="ca:Types">
                <unique name="idType">
                    <selector xpath="ca:type"/>
                    <field xpath="@id"/>
                </unique>
            </element>
            <element name="actes" type="ca:Actes">
                <unique name="idActe">
                    <selector xpath="ca:acte"/>
                    <field xpath="@id"/>
                </unique>
            </element>
        </sequence>
    </complexType>
    
    <!--*****************************************************************************-->
    <complexType name="Types">
        <sequence>
            <element name="type" maxOccurs="unbounded" type="ca:Type"/>
        </sequence>
    </complexType>
    
    <!-- Définition d'un type avec énumération pour id des types -->
    <complexType name="Type" mixed="true">
        <attribute name="id" use="required">
            <simpleType>
                <restriction base="string">
                    <enumeration value="pi"/> <!-- Prélèvements et injections -->
                    <enumeration value="pc"/> <!-- Pansements courants -->
                    <enumeration value="pl"/> <!-- Pansements lourds et complexes -->
                    <enumeration value="sd"/> <!-- Soins infirmiers à domicile -->
                </restriction>
            </simpleType>
        </attribute>
    </complexType>
    
    <!-- Définition des actes -->
    <complexType name="Actes">
        <sequence>
            <element name="acte" maxOccurs="unbounded" type="ca:Acte" />
        </sequence>
    </complexType>
    
    
    <!-- Définition d'un acte avec attributs id, type, clé, et coef -->
    <complexType name="Acte" mixed="true">
        <attribute name="id" type="string" use="required"/>
        <attribute name="type" use="required">
            <simpleType>
                <restriction base="string">
                    <enumeration value="pi"/> <!-- Prélèvements et injections -->
                    <enumeration value="pc"/> <!-- Pansements courants -->
                    <enumeration value="pl"/> <!-- Pansements lourds et complexes -->
                    <enumeration value="sd"/> <!-- Soins infirmiers à domicile -->
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="clé" use="required">
            <simpleType>
                <restriction base="string">
                    <enumeration value="AMI"/>
                    <enumeration value="AIS"/>
                    <enumeration value="DI"/>
                </restriction>
            </simpleType>
        </attribute>
        <attribute name="coef" use="required">
            <simpleType>
                <restriction base="decimal">
                    <enumeration value="1"/>
                    <enumeration value="1.5"/>
                    <enumeration value="2"/>
                    <enumeration value="2.25"/>
                    <enumeration value="2.5"/>
                    <enumeration value="3"/>
                    <enumeration value="3.1"/>
                    <enumeration value="4"/>
                    <enumeration value="5"/>
                </restriction>
            </simpleType>
        </attribute>
    </complexType>

</schema>